body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
p, h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
.header {
  height: 150px !important;
  transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
}
.hidden-header {
  top: -150px !important;
}
.default-header {
  top: 0 !important;
}
.demonstration {
  color: #8D8D8D !important;
  font-size: 12px;
  font-weight: 400 !important;
}
.mr-1 {
  margin-right: 10px;
}
.mr-2 {
  margin-right: 20px;
} 
.ml-1 {
  margin-left: 10px;
}
.ml-2 {
  margin-left: 20px;
}

.pl-1 {
  padding-left: 10px;
}
.pl-2 {
  padding-left: 20px;
}
.pr-1 {
  padding-right: 10px;
}
.pr-2 {
  padding-right: 20px;
}

.el-main {
  background-color: #fff;
  color: #333;
  text-align: left;
  line-height: 0px;
  padding: 0;
  margin-top: 200px;
}
.el-button {
  margin-left: 0;
}
.content {
  width: 85%;
  padding: 20px 0;
  margin-left: auto;
  margin-right: auto;
}
.page-title {
  margin-bottom: 25px;
}
.el-main h1 {
  line-height: 30px;
  font-weight: 400;
  border-bottom: 1px solid #EAF6FB;
}
.el-main h5 {
  font-weight: 300;
  color: #878d99;
}
body > .el-container {
  margin-bottom: 60px;
}
.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}
.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}
.internal-information {
  background-color: #EAF6FB;
  padding: 15px 15px 15px 20px;
  text-align: left;
  position: fixed;
  top: 149px;
  z-index: 3;
  width: 100%;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
.internal-information-up {
  top: 0 !important;
}
.internal-information .page-name {
  color: #1A2C33;
}
.internal-information span {
  font-family: Roboto;
  color: #249ABF;
  font-weight: 500;
  font-size: 14px;
}
[class*=" el-icon-"], [class^=el-icon-] {
  vertical-align: middle;
  color: #b2b4b5;
}
//"Go" button div styles
.submitButton {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

// "Go" button styles
.button {
  display: inline-block;
  margin-left: 20px;
  height: 40px;
  width: 85px;
  background-color: #1F98BD;
  border-color: transparent;

  & :hover {
    background-color: hsl(192, 65%, 45%);
  }
}
.button.is-active, .button:active, .button:focus {
  background-color: hsl(192, 65%, 45%) !important;
  border-color: transparent !important;
}
// Secondary Button  
.secondary-button {
  width: auto;
  padding: 0 !important;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center !important;
  background: #fff;
  border-color: #1F98BD;
  color: #1F98BD !important;
    
  &:hover {
    border-color: hsl(192, 65%, 45%) !important;
    color: hsl(192, 65%, 45%) !important;
  }
}
#selectEmployee {
  padding-left: 60px !important;
}
.select-container {
  display: flex;
  flex-direction: row;
}
.el-table {
  margin-top: 61px;
}
.el-table,
.el-table__fixed-header-wrapper .el-table__header,
.el-table .el-table__fixed, .el-table__body {
  width: 100%!important;
}
.duration-red td:last-of-type {
  color: #C76161;
}

/**** Check *****/

/**** Media query ****/
@media only screen and (min-width: 910px) and (max-width: 1265px) {
  .header {
    height: 120px !important;
  }
  .internal-information {
    top: 121px;
  }
}
